footer.footer
  .container
    .content.has-text-centered
      p
        strong Website
        |  by 
        a(href='https://github.com/ratsjosh') Yap Wei Jie Joshua
        | . The source code is licensed
        a(href='http://opensource.org/licenses/mit-license.php') MIT
        | . 

