extends layout
block content
  section.hero.is-info.is-fullheight
    .hero-body
      .container
        h1.title
          | I am Yap Wei Jie Joshua
        h2.subtitle
          | Technology enthusiast
        a(href='#achievement') Click Me to Smooth Scroll to my achievements Below
  include ./home/content.pug
    script(src="/javascripts/utils/scroll.js")
