section.section.is-large#achievement
  .container
    h1.title Achievements
    h2.subtitle
      | A simple container to divide your page into 
      strong sections
      | , like the one you're currently reading

