section.section.is-large#hobby
  .container
    h1.title Hobbies
    h2.subtitle
      | A simple container to divide your page into 
      strong sections
      | , like the one you're currently reading

