section.section#sub
  .container.is-fluid
      h2.subtitle
        | I am a technology enthusiast who constantly seeks out for the latest in Information Technology in the market. Since young, I have always been intrigued by software and how developers create such advanced applications.

