.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax,
.parallax+div {
  /* Full height */
  height: 100vh;
}

.parallax .container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  .parallax {
      background-attachment: scroll;
  }
} 